[mysqld]
!include ./conf/custom.cnf
wsrep-debug=1
pxc_maint_transition_period=1
wsrep_node_incoming_address=127.0.0.1
wsrep_node_address=127.0.0.1
innodb_file_per_table
innodb_autoinc_lock_mode=2
innodb_flush_log_at_trx_commit=0
wsrep_sst_method=xtrabackup-v2
server-id=10
log-bin=mysql-bin
binlog_format=ROW
core-file
log-output=none
wsrep_slave_threads=8
