[mysqld]
innodb_file_per_table
log-error-verbosity=3
#wsrep-debug=1
pxc_maint_transition_period=1
innodb_autoinc_lock_mode=2
wsrep_cluster_address=gcomm://127.0.0.1:26108,127.0.0.1:26208,127.0.0.1:26308
wsrep_node_incoming_address=127.0.0.1
wsrep_provider_options="gmcast.listen_addr=tcp://127.0.0.1:26208"
wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth=root:
wsrep_sst_receive_address=127.0.0.1:26209
wsrep_node_address=127.0.0.1
innodb_flush_method=O_DIRECT
core-file
sql-mode=no_engine_substitution
secure-file-priv=
loose-innodb-status-file=1
log-output=none
port=26200
server-id=11
wsrep_slave_threads=2
early-plugin-load=keyring_file.so
keyring_file_data=keyring
log_bin=binlog
binlog_format=ROW
log_slave_updates=1
gtid_mode=ON
enforce_gtid_consistency=ON
master_verify_checksum=on
binlog_checksum=CRC32